<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    

    <div id="app">
        <ul>
            <li v-for="numero in numeros">{{numero}}</li>
        </ul>
        <span>Ingrese un numero:</span><br>
        <input v-model="numeroAgregar"><br>
        <button v-on:click="cargar(numeroAgregar)">Cargar</button>

    </div>
    <script>
        /*
        Dada esta lista de numeros: [4,6,3,2,-3,2]
        1- Cargar esta lista en un array del objeto vue.
        2- Mostrar la lista con un li
        3- Pedir un numero y agregarlo a la lista.
        */
        const { createApp } = Vue      
        const obj = createApp({
          data() {
            return {
              numeros: [4,6,3,2,-3,2]
              ,numeroAgregar: ''
            }
          },methods:{
            cargar(num){
                if(num == ''){
                    alert("Debe ingresar un numero");
                    alert(typeof(num))
                    return
                }
                this.numeros.push(num)
                this.numeroAgregar = '';
                
            }
          }
          
        }).mount('#app')
    </script>
    
</body>
</html>